* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

section {
    padding: 15px;
}

footer {
    position: relative;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #303030;
    color: white;
    text-align: center;
}

/** Font Styling **/

@font-face {
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/segoeui.woff);
}

h1 {
    margin-top: 0;
	font-family: Segoe UI;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
}

h2 {
	font-family: Segoe UI;
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
}

h3 {
	font-family: Segoe UI;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
}

h4 {
	font-family: Segoe UI;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
}

p {
	font-family: Segoe UI;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote {
	font-family: Segoe UI;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-family: Segoe UI;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5667px;
}

li {
    font-family: Segoe UI;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

ul {
    font-family: Segoe UI;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

ol {
    font-family: Segoe UI;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

dl {
    font-family: Segoe UI;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

/** Top Navigation Bar **/

.topnav {
    overflow: hidden;
    background-color: #303030;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 30px;
    text-decoration: none;
    font-size: 20px;
}

.active {
    background-color: #990000;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav a:hover {
    background-color: #dc0000;
    color: white;
}

@media screen and (max-width: 1080px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        float: none;
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

/** Home Page **/

.banner {
    width: 100%;
    height: 50%;
    background-image: url(../images/homebanner.jpg);
    background-size: contain;
    background-position: center;
}

.bannerbox {
    position: absolute;
    left: 0;
    right: 0;
    margin: 26px;
    background-color: rgba(0,0,0,0.5);
    background-position: center;
}

.bannerbox h1 {
    margin: 5%;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
}

.websitedef {
    background-color: #b50000;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.websitedef h2 {
    font-size: 26px;
}

.websitedef p {
    font-size: 20px;
}

.homecolumn {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
}

.homecolumn h3 {
    font-size: 20px;
}

.homecolumn p {
    font-size: 16px;
}

.homecolumn img {
    width: 35%;
}

.homerow:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .homecolumn {
        width: 100%
    }
}

/** Disasters Page **/

.disastersheading {
    text-align: center;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.disastersheading h1{
    line-height: 40px;
}

.disasterssection {
    padding: 10px;
}

.disasterssection h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}

.disasterssection h3 {
    font-size: 20px;
    line-height: 26px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.disasterssection p {
    font-size: 18px;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
}

.disasterssection pre {
    font-size: 16px;
    font-style: italic;
}

.disasterssection ol {
    padding-top: 10px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 10px;
}

.disasterssection li {
    font-size: 18px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.disasterssection dl {
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
}

.disasterssection dt {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.disasterssection dd {
    font-size: 16px;
    line-height: 20px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.disasterssection img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

.disasterssection {
    padding: 10px;
}

.disasterssection img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

#disasterssectiondesc {
    text-align: center;
}

#stormSignalImg {
    width: 40%;
}
